<div class="app-card">
  <div class="wrapper">
    <div class="first-six-part">
      <div class="card">
        <div class="app-icon">
          <img src="../../public/images/apps/nodejs.png" alt="app-logo" />
        </div>
        <div class="app-name">Nodejs</div>
      </div>
      
      <div class="card">
        <div class="app-icon">
          <img src="../../public/images/apps/react.png" alt="app-logo" />
        </div>
        <div class="app-name">React</div>
      </div>

      <div class="card">
        <div class="app-icon">
          <img src="../../public/images/apps/nextjs.png" alt="app-logo" />
        </div>
        <div class="app-name">Nextjs</div>
      </div>

      <div class="card">
        <div class="app-icon">
          <img src="../../public/images/apps/vuejs.png" alt="app-logo" />
        </div>
        <div class="app-name">Vuejs</div>
      </div>

      <div class="card">
        <div class="app-icon">
          <img src="../../public/images/apps/dotnet.png" alt="app-logo" />
        </div>
        <div class="app-name">Dotnet</div>
      </div>

      <div class="card">
        <div class="app-icon">
          <img src="../../public/images/apps/laravel.png" alt="app-logo" />
        </div>
        <div class="app-name">Laravel</div>
      </div>
    </div>

    <div class="second-six-part">
      <div class="card">
        <div class="app-icon">
          <img src="../../public/images/apps/php.png" alt="app-logo" />
        </div>
        <div class="app-name">PHP</div>
      </div>

      <div class="card">
        <div class="app-icon">
          <img src="../../public/images/apps/django.png" alt="app-logo" />
        </div>
        <div class="app-name">Django</div>
      </div>

      <div class="card">
        <div class="app-icon">
          <img src="../../public/images/apps/flask.png" alt="app-logo" />
        </div>
        <div class="app-name">Flask</div>
      </div>

      <div class="card">
        <div class="app-icon">
          <img src="../../public/images/apps/angular.png" alt="app-logo" />
        </div>
        <div class="app-name">Angular</div>
      </div>

      <div class="card">
        <div class="app-icon">
          <img src="../../public/images/apps/static.png" alt="app-logo" />
        </div>
        <div class="app-name">Static</div>
      </div>

      <div class="card">
        <div class="app-icon">
          <img src="../../public/images/apps/docker.png" alt="app-logo" />
        </div>
        <div class="app-name">Docker</div>
      </div>
    </div>
  </div>
</div>
