<!DOCTYPE html>
<html>
  <head>
    <title>Choose Loc</title>
    <link rel="stylesheet" href="../../public/styles/locationCard.style.css" />
  </head>
  <body>
    <div class="location-card">
      <div class="wrapper">
        <div class="first-six-part">
          <div class="loc-card">
            <div class="loc-icon">
              <img src="../../public/images/flags/germany.png" alt="loc-logo" />
            </div>
            <div class="loc-name">Nuremberg</div>
          </div>

          <div class="loc-card">
            <div class="loc-icon">
              <img src="../../public/images/flags/canada.png" alt="loc-logo" />
            </div>
            <div class="loc-name">Toronto</div>
          </div>

          <div class="loc-card">
            <div class="loc-icon">
              <img
                src="../../public/images/flags/united_states.png"
                alt="loc-logo"
              />
            </div>
            <div class="loc-name">CA, LA</div>
          </div>

          <div class="loc-card">
            <div class="loc-icon">
              <img
                src="../../public/images/flags/switzerland.png"
                alt="loc-logo"
              />
            </div>
            <div class="loc-name">Bern</div>
          </div>
        </div>

        <div class="second-six-part">
          <div class="loc-card">
            <div class="loc-icon">
              <img src="../../public/images/flags/switzerland.png" alt="loc-logo" />
            </div>
            <div class="loc-name">Bern</div>
          </div>

          <div class="loc-card">
            <div class="loc-icon">
              <img src="../../public/images/flags/italy.png" alt="loc-logo" />
            </div>
            <div class="loc-name">Milan</div>
          </div>

          <div class="loc-card">
            <div class="loc-icon">
              <img src="../../public/images/flags/norway.png" alt="loc-logo" />
            </div>
            <div class="loc-name">Norway</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
