<section class="services-intro">
    <div class="hero-texts">
        <h1 class="intro-headline">
            The Fastest,<br /> You've Ever Saw!
        </h1>
        <p class="intro-desc">
            With our services, jump to production, les than 45 seconds and deploy 4Apps/3mins.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quidem omnis non explicabo minus magni sint velit vitae natus cupiditate.
        </p>
    </div>
    <img src="../public/images/rocket.png" alt="rocket" class="rocket-image">
</section>