<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/nav.style.css">
    <link rel="stylesheet" href="../public/styles/index.style.css">
    <title>Cloud-x</title>
</head>
<body>
    <%-include("./partials/_navbar.ejs")%>
    <main class="main-section">
        <%-include("./partials/_servicesIntro.ejs")%>
    </main>
</body>
</html>