<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/login.style.css">
    <title>Login | Cloud-x</title>
</head>
<body>
    <form action="/login" method="post" class="login-form">
        <div class="form-head">
            <h1 class="form-head-text">Login.</h1>
        </div>
        <div class="form-body">
            <input type="text" name="email" placeholder="email" class="email-input">
            <input type="password" name="password" placeholder="password">
            <button type="submit" class="submit-button">Login!</button>
        </div>
        <div class="form-footer">
            Don't have an account? <a href="/register">Signup.</a>
        </div>
    </form>
</body>
</html>