.app-card {
    margin-top: 3em;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.first-six-part {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.second-six-part {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.card {
    width: 150px;
    height: 170px;
    background-color: #212121;
    color: #fff;
    border-radius: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.6em;
}

.card:hover {
    box-shadow: 0px 0px 19px -5px #00ce79;
    -webkit-box-shadow: 0px 0px 19px -5px #00ce69;
    -moz-box-shadow: 0px 0px 19px -5px #00ce89;
    transition: all 0.2s ease-out;
}

.app-card .wrapper img {
    width: 70px;
    height: 70px;
}

.app-card .wrapper .app-name {
    font-size: 1قem;
    color: #b5b5b5;
}

.active {
    border: 1px solid #00ce79;
}