@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

body {
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #181818;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #242323;
  color: #fff;
}

.sidebar h1 {
  font-size: 18px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
  cursor: pointer;
}

.sidebar ul li:hover {
  color: #00ce79;
}

.main {
  flex: 1;
  gap: 3em;
  color: #fff;
  padding: 1em  6em;
}

.sidebar-menu {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}