@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

form {
    border-radius: .3em;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 27em;
    height: 31em;
    box-shadow: 0px 0px 19px -5px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0px 0px 19px -5px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 19px -5px rgba(255, 255, 255, 0.75);
}

input {
    padding: 1.2em 2em;
    border: none;
    outline: none;
    background-color: #ffffff;
    border-radius: .3em;
    margin: 1em 0;
    width: 100%;
}

input::placeholder {
    color: #000;
    font-family: 'Poppins';
}

.form-head {
    color: #00ce79;
}

.form-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.submit-button {
    padding: .6em 1em;
    border: none;
    outline: none;
    background-color: #199c63;
    color: #fff;
    border-radius: .3em;
    margin: 1em 0;
    width: 125%;
    cursor: pointer;
    margin-top: 2em;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

.form-footer {
    margin-bottom: 1.5em;
    color: #a6a6a6;
    font-size: .9rem;
}

a {
    text-decoration: none;
    color: #00ce79;
}